/* gallery */

#gallery {
  padding: 1em;
}

.project_image {
  width: 500px;
  height: 500px;
  padding: 2rem;
}

.project_image:hover {
  opacity: 0.3;
}
.my_image {
  width: 200px;
  height: auto;
  margin-left: 10rem;
}

